/* Goggle Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    box-shadow: 0px 5px 10px gray;
    border-radius: 15px;
    overflow: hidden;
}

.container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    height: 600px;
}

.container .form {
    width: 50%;
    padding: 30px;
    transition: margin-left 0.18s ease;
}

.container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 3px;
    width: 30px;
    background-color: cadetblue;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    margin-top: 30px;
    height: 50px;
    width: 100%;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid transparent;
    transform: all 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    border-bottom-color: cadetblue;
}

.input-field input:is(:focus, :valid)~i {
    color: cadetblue;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: lightgray;
}

.input-field i.icon {
    left: 0px;
}

.input-field i.showHidePw {
    right: 0px;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    accent-color: teal;
    margin: 0px 8px -2px 4px;
}

.form .text {
    color: black;
    font-size: 14px;
}

.form a.text {
    color: cadetblue;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: white;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    background-color: cadetblue;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover {
    background-color: teal;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}